footer {
    width: 100%;
    padding: 0% 10%;
    background-color: var(--black);
    color: var(--grey-light);
    font-size: 17px;
    /*font-size: 1.0625em;*/
    position: relative;
    bottom: 0;
    word-wrap: anywhere;
}
#contact_heading {
    font-size: 19px;
    /*font-size: 1.1875em;*/
    margin: 5px 0px !important;
    text-align: center;
}
#logo {
    min-width: 50%;
}
#logo_container {
    margin: 20px 0px !important;
}
#logo_container > img {
    margin-top: 10px;
}
#address_info {
    margin-bottom: 10px;
}
#email_info {
    margin-bottom: 10px;
}
#socialmedia_icons {
    margin: 5px 0px;
}

.social_icon {
    margin-right: 5px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) {
    #contact_heading {
        font-size: 30px;
        /*font-size: 1.875em;*/
        margin: 20px 0px !important;
    }
    footer {
        font-size: 24px;
        /*font-size: 1.5em;*/
    }
    #address_info {
        text-align: center;
    }
    #email_info {
        text-align: center;
    }
    #socialmedia_info {
        text-align: center;
    }
    #logo_container {
        text-align: center;
    }
    #logo {
        min-width: 20%;
    }
}
